<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')  %> 
<body>
    <h1> <% title %> </h1>
    <h2>ola mundo</h2>

    <script src="js/alert.js"></script>
    <%- include('partials/foot.ejs')  %> 
</body>
</html>